.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f8f9fa;
  padding: 6px 0;
  border-top: 1px solid #e9ecef;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  color: #1fbd47;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
